<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AutoclickerConfiguration" type="IdleClickerForGame.AutoclickerConfiguration, IdleClickerForGame"/>
	</configSections>
	<AutoclickerConfiguration>
		<AllBuy second="60"/>
		<LastBuy second="60"/>
	</AutoclickerConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>